[Desktop Entry]
Name=UnixSoul (Hyprland)
Comment=Soul of Unix with touch of Land of Chaos
Exec=Hyprland
Type=Application
DesktopNames=UnixSoul (Hyprland)
Keywords=tiling;wayland;compositor;
